@model IEnumerable<MultasTransito.Models.Multas>

@{
    ViewData["Title"] = "Index";
}

<h2>Multas a matrículas</h2>

<p>
    <a asp-action="Create">Crear un nuevo registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdMunicipalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPlaca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idnit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdMunicipalidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPlaca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idnit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMulta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMulta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMulta">Delete</a>
            </td>
        </tr>}
    </tbody>
</table>
