@model MultasTransito.Models.Municipios

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar registro</h2>

<h3>¿Seguro que desea elinar este registro?</h3>
<div>
    <h4>Municipios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsChecked)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsChecked)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdMunicipalidad" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Regresar a ingresar nuevo registro</a>
    </form>
</div>
