@model MultasTransito.Models.Municipios

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div class="form-group-sm">
    <h4>Municipios</h4>    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsChecked)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsChecked)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model.IdMunicipalidad">Editar</a> 
    <a asp-action="Index">Ingresar nuevo registro</a>
</div>
