@model IEnumerable<MultasTransito.Models.Municipios>

@{
    ViewData["Title"] = "Index";
}

<h2>Crear nuevos municipios</h2>

<p>
    <a asp-action="Create">Ingrese nuevo registro</a>
</p>
<table class="table form-group-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsChecked)
            </th>            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsChecked)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMunicipalidad" class="btn btn-success">Editar</a>
                <a asp-action="Details" asp-route-id="@item.IdMunicipalidad" class="btn btn-primary">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.IdMunicipalidad" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
