@using MultasTransito.Controllers;
@using MultasTransito.Models;
@using MultasTransito.Data;
@model IEnumerable<MultasTransito.Models.Municipios>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Amilcar Bot"] - Amilcar Bot</title>
</head>
<body>
    <form method="post">
        <h2><strong>Elije la municipalidad a consultar</strong></h2>
        @for (var i = 0; i < @ViewBag.NombreMunisLenght; i++)
        {
            <input name="Index" id="checks" type="checkbox" value="@i" /> <strong>@ViewBag.NombreMunis[i]</strong> <br />
        }
        <div>
            <button type="button" class="btn btn-primary"><strong>Validar</strong></button>
        </div>
        <div class="radio radio-info">
            <label class="custom-control-label" for="seleccioneTodos">
                <input type="radio" class="custom-control-input" id="seleccioneTodos">
                <strong>Seleccione todos</strong>
            </label>
        </div>
    </form>    
    <div class="row">
        <div class="col-md-3 form-horizontal">
            <form action="/Home/Index" method="post">
                <br />
                <input type="text" class="form-control" name="ingreseNit" placeholder="Ingrese Nit" required autofocus>
                <br />
                <input type="text" class="form-control" name="tipoPlaca" placeholder="Tipo de placa" required autofocus>
                <br />
                <input type="number" class="form-control" name="numeroPlaca" placeholder="Número de placa" required autofocus>
                <br />
                <button class="btn btn-success btn-lg btn-block" type="submit">
                    <strong>Consultar</strong>
                </button>
            </form>
        </div>
        @* @using (Html.BeginForm("Index", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-3 form-horizontal">
                <br />
                @Html.TextBoxFor(x => x.IdNit,
                   new { @class = "form-control", placeholder = "Ingrese Nit", autofocus = "autofocus" })
                @Html.ValidationMessageFor(x => x.IdNit, null, new { @class = "text-danger" })
                <br />
                @Html.TextBoxFor(x => x.TipoPlaca,
                   new { @class = "form-control", placeholder = "Tipo de placa" })
                @Html.ValidationMessageFor(x => x.TipoPlaca, null, new { @class = "text-danger" })
            </div>
            <div class="col-md-3 form-horizontal">
                <br />
                @Html.TextBoxFor(x => x.IdNit,
                   new { @class = "form-control", placeholder = "Número de placa" })
                @Html.ValidationMessageFor(m => m.IdNit, null, new { @class = "text-danger" })
                <br />
                <button class="btn btn-success btn-lg btn-block" type="submit">
                    <strong>Consultar</strong>
                </button>
            </div>
        }*@
    </div>    
</body>
</html>
