@model IEnumerable<MultasTransito.Models.Propietario>

@{
    ViewData["Title"] = "Index";
}

<h2>Crear propietarios nuevos</h2>

<p>
    <a asp-action="Create">Ingrese un nuevo registro</a>
</p>
<table class="table form-group-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Licencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNit" class="btn btn-success">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.IdNit" class="btn btn-primary">Detalles</a> 
                <a asp-action="Delete" asp-route-id="@item.IdNit" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>}
    </tbody>
</table>
